.

# Since we currently still supports Python 3.7, we choose Django version accordingly.
# See https://docs.djangoproject.com/en/5.0/faq/install/#what-python-version-can-i-use-with-django
django>=3.2,<6
